ul {
    margin-top: 2rem;

}

li {
    display: flex;
    margin-bottom: 1rem;
}
img {
    width: 400px;
    height: 400px;
}

#btn {
    padding: 1rem;
    display: flex;
    justify-content: center;
    outline: none;
}